<div class="page">
  <div class="h-100">
    <div class="row align-items-center h-100">
      <form class="form-container col-md-6 offset-md-3 col-8 offset-2">
        <div class="text-center">
          <img alt="Datarox Logo" src="assets\image\logo-datatox.svg" class="img-fluid">
        </div>
        <div>
          <p class="text-justify text-center">Insérer votre nouveau mot de passe.</p>
        </div>
        <div>
          <label for="inputPassword" class="sr-only">Mot de passe</label>
          <input type="text" id="inputPassword" name="password" [(ngModel)]="resetpwd" class="form-control" placeholder="Nouveau Mot de passe"
            required>
        </div>

        <div>
          <label for="inputPassword" class="sr-only">Mot de passe</label>
          <input type="password" id="inputPasswordConf" name="password" [(ngModel)]="confresetpwd" class="form-control" placeholder="Confirmer votre Mot de passe"
            required>
        </div>

        <div>
          <button class="btn btn-lg btn-secondary btn-block" data-toggle="modal" data-target="#exampleModalCenter" (click)="reinitialiser_pwd(resetpwd,confresetpwd)"
            type="submit">Réinitialiser </button>
        </div>

        <div>
          <div class="text-right">
            <a routerLink="/login">acces à la page de login </a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="page text-center">
  <div class="modal fade " id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title {{message}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...{{message}}
          <img  src="{{img}}" class="img-fluid">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
